body {
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}	

table {
	color: white;
	border: 2px solid;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

td {
	border: 3px solid white;
	padding: 35px;
	margin: 4px;
}

.on{
	background: red;
}

.off{
	background: white;
}

.track{
	align-content: center;
	width: 50%;
}